# ignore all __pycache__ directories
**/__pycache__
# ignore all .cache directories
**/.cache
# ignore all .vscode directories
**/.vscode
# ignore all *.egg-info directories
**/*.egg-info
# ignore all test python files
**/test-*.py
**/test*.py
**/*test.py
**/*-test.py
# ignore dist, build and target directories
**/dist
**/build
**/target
# ignore all .whl files
**/*.whl